<p id="notice"><%= notice %></p>

<h1>Listing Universities</h1>

<%= table_for @universities, :class => "university_table" do |t| %>
  <% t.column :name %>
  <% t.column :actions, :class => "actions" do |university| %>
    <%= link_to 'Show', university_path(university) %>
  <% end %>
<% end %>

<br>